<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQV7rJ6_Cji2n9rQ86S5LuCfIuiWVbCfY</string>
	<key>GCM_SENDER_ID</key>
	<string>766352237429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d.FirebaseDemo2023</string>
	<key>PROJECT_ID</key>
	<string>fir-2023demo-21332</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2023demo-21332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766352237429:ios:ddd561c320e91a64f1693c</string>
</dict>
</plist>